# Python
venv/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd
*.so
*.dll
*.lib




# Build & Distribution
build/
dist/
*.egg-info/

# System & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.bak
*.swp


# Jupyter Notebook Files
.ipynb_checkpoints/

# Environment Variables
.env

# Credential & JSON Artifacts
*.json

# Data & Output File Exclusion
/VISTA_Repository/

# Miscellaneous Caches=
*.tar.gz
*.tzdata
dateutil/zoneinfo/


# Google Cloud Service Account Keys
misfit/vista-api-backend-6578a1a1c769.json
specs/vista-api-backend-6578a1a1c769.json


